body {
  font-family: Arial;
  height: 100vh;
}

header {
  font-family: 'Molle', cursive;
  font-size: x-large;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  color: goldenrod;
}

a {
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: bold;
  color: goldenrod;
}

.grid {
  width: 800px;
  height: 625px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
button {
  border: 0.5px solid #888888;
  height: 200px;
  width: 125px;
  background-color: lavenderblush;
  background-image: transparent;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
}
