* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  height: 100vh;
  display: inline;
  background-image: url('https://imgur.com/luAPYv1.jpg');
  background-size: auto;
}

header {
  font-family: 'Molle', cursive;
  font-size: 26px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  color: bisque;
}

a {
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: bold;
  color: bisque;
}

.display {
  height: 0px;
}

span {
  padding: 5px;
}

#left {
  float: left;
  width: 15%;
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  color: bisque;
  font-size: 38px;
  margin-right: 20px;
}

.card-style {
  height: 250px;
  width: 160px;
}

.grid {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 5px;
  float: center;
}
