body {
  font-family: Arial;
  height: 100vh;
  display: inline;
  background-image: url('https://imgur.com/luAPYv1.jpg');
  background-size: auto;
}

header {
  font-family: 'Molle', cursive;
  font-size: x-large;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  color: bisque;
}

a {
  text-decoration: none;
  font-size: 34px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: bold;
  color: bisque;
}

article {
  display: inline-block;
}

#left {
  float: left;
  width: 20%;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: bisque;
  font-size: 36px;
}

#right {
  float: right;
  width: 20%;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: bisque;
  font-size: 36px;
}

.grid {
  width: 800px;
  height: 625px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  float: center;
}
button {
  border: 0.5px solid #888888;
  height: 200px;
  width: 125px;
  background-color: #f0d7f7;
  background-image: transparent;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
}
