* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  height: 100vh;
  display: inline;
  background-image: url('https://imgur.com/luAPYv1.jpg');
  background-size: cover;
}

.page-wrap {
  display: grid;
  grid-template-columns: 0.10fr 1fr 0.20fr;
  grid-template-rows: 0.25fr 1fr;
  grid-template-areas: 
  "header header header"
  ". gameboard .";
}

.header {
  grid-area: header;
  font-family: 'Molle', cursive;
  font-size: 2.5em;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  color: bisque;
}

.header h1 {
  margin: 0;
  padding-top: 15px;
}

.sidebar {
  margin: 15px;
  width: 100%;
}

.display {
  margin-bottom: 15px;
}

.display h2 {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  color: bisque;
  text-align: right;
}

.options-wrap {
  margin-top: 15px;
  text-align: right;
}

.reset {
  display: block;
  margin-left: auto;
  margin-right: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  color: bisque;
  border: none;
  background: none;
}

#link {
  display: block;
  padding-right: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  font-weight: bold;
  color: bisque;
  text-decoration: none;
  letter-spacing: 0.05px;
  word-spacing: 0.25em;
}

#turns, #matches {
  padding-left: 10px;
}

.main-wrap {
  grid-area: gameboard;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "card card card card card card"
  "card card card card card card"
  "card card card card card card";
  grid-gap: 5px;
}

.image-style {
  grid-area: card;
  width: 115px;
  height: 175px;
  margin-right: 5px;
  border-radius: 10px;
}

.level-wrap h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  font-weight: bold;
  color: bisque;
  margin-right: auto;
  margin-left: 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: left;
}

#two {
  padding-top: 10px;
  color: bisque;
  text-shadow: 0 0 30px whitesmoke;
}

/* .options-wrap {
  padding-right: 5px;
}

#link {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.05px;
  word-spacing: 0.25em;
  font-weight: bold;
  color: bisque;
}

span {
  padding: 5px;
}

.reset {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Bebas Neue', cursive;
  color: bisque;
  font-size: 1.15em;
}

#left {
  float: left;
  width: 22.5%;
  margin-right: 15px;
  padding-right: 35px;
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  color: bisque;
  font-size: 38px;
}

#left p {
  margin: 0;
}

.card-style {
  height: 200px;
  width: 125px;
}

.grid {
  width: 60%;
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px 130px;
  grid-template-rows: 205px 205px 205px;
} */
