* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  height: 100vh;
  display: inline;
  background-image: url('https://imgur.com/luAPYv1.jpg');
  background-size: cover;
}

h1 {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: 'Molle', cursive;
  font-size: 3em;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  color: bisque;
}

h3 {
  margin-top: 5px;
  font-family: 'Molle', cursive;
  font-size: 1.5em;
  text-align: center;
  color: bisque;
}

.options-wrap {
  padding-right: 5px;
}

#link {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.05px;
  word-spacing: 0.25em;
  font-weight: bold;
  color: bisque;
}

span {
  padding: 5px;
}

.reset {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Bebas Neue', cursive;
  color: bisque;
  font-size: 1.15em;
}

#left {
  float: left;
  width: 22.5%;
  margin-right: 15px;
  padding-right: 35px;
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  color: bisque;
  font-size: 38px;
}

#left p {
  margin: 0;
}

.card-style {
  height: 200px;
  width: 125px;
}

.grid {
  width: 60%;
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px 130px;
  grid-template-rows: 205px 205px 205px;
}
